<%= form_with(model: message) do |form| %>
  <% if message.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
        <% message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :received, style: "display: block" %>
    <%= form.text_field :received %>
  </div>

  <div>
    <%= form.label :reply, style: "display: block" %>
    <%= form.text_field :reply %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
